@inject Microsoft.Extensions.Configuration.IConfiguration Configuration

@{
    ViewData["Title"] = "About";
}

<section class="bg-light-2">
    <div class="sec-container">
        <div class="container py-5-desktop">
            <div class="row">
                <div class="col-xl-2">
                    <div class="horizontal-line d-none d-xl-block"></div>
                </div>
                <div class="col-xl-10">
                    <h3 class="txt-accent text-uppercase mb-3">About Us</h3>
                    <h1 class="title-1 font-weight-bold mb-5">We are Recycle!</h1>
                    <p class="paragraph-1">Text Text Text Text Text Text Text Text Text Text Text Text</p>
                    <img src="~/images/team-photo.png" alt="Team Photo" class="about-team-photo my-5" />
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bg-light-3">
    <div class="sec-container">
        <div class="container py-5-desktop">
            <div class="row">
                <div class="col-xl-2">
                    <div class="horizontal-line d-none d-xl-block"></div>
                </div>
                <div class="col-xl-10">
                    <h3 class="txt-accent text-uppercase mb-3">The Team</h3>
                    <h1 class="title-1 font-weight-bold mb-5">Students</h1>
                    <div class="people-list">
                        <div class="person">
                            <a href="#" target="_blank">
                                <h4>Andrey Kh.</h4>
                            </a>
                            <ul class="text-muted person-links">
                                <li><a href="#" target="_blank" class="primary-link mb-1"><span class="icon icon-linkedin icon-top-adjust mr-3" aria-hidden="true"></span>LinkedIn</a></li>
                                <li><a href="#" target="_blank" class="primary-link"><span class="icon icon-github2 icon-top-adjust mr-3" aria-hidden="true"></span>GitHub</a></li>
                            </ul>
                        </div>

                        <div class="person">
                            <a href="#" target="_blank">
                                <h4>Meiri</h4>
                            </a>
                            <ul class="text-muted person-links">
                                <li><a href="#" target="_blank" class="primary-link mb-1"><span class="icon icon-linkedin icon-top-adjust mr-3" aria-hidden="true"></span>LinkedIn</a></li>
                                <li><a href="#" target="_blank" class="primary-link"><span class="icon icon-github2 icon-top-adjust mr-3" aria-hidden="true"></span>GitHub</a></li>
                            </ul>
                        </div>

                        <div class="person">
                            <a href="#" target="_blank">
                                <h4>Yotam</h4>
                            </a>
                            <ul class="text-muted person-links">
                                <li><a href="#" target="_blank" class="primary-link mb-1"><span class="icon icon-linkedin icon-top-adjust mr-3" aria-hidden="true"></span>LinkedIn</a></li>
                                <li><a href="#" target="_blank" class="primary-link"><span class="icon icon-github2 icon-top-adjust mr-3" aria-hidden="true"></span>GitHub</a></li>
                            </ul>
                        </div>


                        <div class="person">
                            <a href="#" target="_blank">
                                <h4>Eden</h4>
                            </a>
                            <ul class="text-muted person-links">
                                <li><a href="#" target="_blank" class="primary-link mb-1"><span class="icon icon-linkedin icon-top-adjust mr-3" aria-hidden="true"></span>LinkedIn</a></li>
                                <li><a href="#" target="_blank" class="primary-link"><span class="icon icon-github2 icon-top-adjust mr-3" aria-hidden="true"></span>GitHub</a></li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
