
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration


<section id="about-sec">
    <div class="sec-container">
        <div class="row">
            <div class="col-lg-12">
                <div class="about-content-wrap">
                    <h2 class="txt-accent">About Us</h2>
                    <h3>We Are Recycle!</h3>
                    <div class="about-text">
                        <p>We help recycle products, by selleing them.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<hr class="sec-separator" />

<section id="testimonial-sec">
    <div class="sec-container bg-invert">
        <div class="row">
            <div class="sec-title col-lg-12 text-center">
                <h2 class="txt-title-invert">What People Say</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-9 col-centered text-center">
                <div id="testimonial-carousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner col-lg-8 col-centered">
                        <div class="carousel-item active">
                            <div class="single-testimonial-item">
                                <p>"<span>The site allows you to buy products that are no longer used by one person but really a bargain in another person, highly recommend!! I liked being given the option to buy things and also save the planet</span>"</p>
                                <h3 class="client-name">- <span>Shira.a</span> -</h3>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="single-testimonial-item">
                                <p>"<span>Easy and convenient for the user to do quick sales operations, recycle is the right site at the right time</span>"</p>
                                <h3 class="client-name">- <span>Yossi</span> -</h3>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="single-testimonial-item">
                                <p>"<span>Thanks for the fun shopping!!!</span>"</p>
                                <h3 class="client-name">- <span>Miri123</span> -</h3>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="single-testimonial-item">
                                <p>"<span>Because of the many climate change we need to be more aware of product recycling to minimize the existing damage, help us and join the fight!</span>"</p>
                                <h3 class="client-name">- <span>Johnny</span> -</h3>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#testimonial-carousel" role="button" data-slide="prev">
                        <span class="icon icon-arrow-left2 h1" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#testimonial-carousel" role="button" data-slide="next">
                        <span class="icon icon-arrow-right2 h1" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<hr class="sec-separator" />

<section id="posts-sec">
    <div class="sec-container">
        <div class="row">
            <div class="col-lg-12">
                <div class="posts-content-wrap">
                    <h3>Text Text</h3>
                    <div class="posts-sec">
                        <p>TEXT TEXT TEXT</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
