@model Recycle.Models.Product

@{
    ViewData["Title"] = "AddProduct";
}

<h1>Create</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form id="addProduct" asp-action="AddProduct" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="ItemName" class="control-label"></label>
                <input asp-for="ItemName" class="form-control" />
                <span asp-validation-for="ItemName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemDesc" class="control-label"></label>
                <input asp-for="ItemDesc" class="form-control" />
                <span asp-validation-for="ItemDesc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Size" class="control-label"></label>
                <input asp-for="Size" class="form-control" />
                <span asp-validation-for="Size" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Color" class="control-label"></label>
                <input asp-for="Color" class="form-control" />
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PictursFiles" class="control-label"></label>
                <input asp-for="PictursFiles" class="form-control" accept="image/*"/>
                <span asp-validation-for="PictursFiles" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Video" class="control-label"></label>
                <input asp-for="VideoFile" class="form-control" accept="video/mp4"/>
                <span asp-validation-for="Video" class="text-danger"></span>
            </div>

            <lable class="form-group"  id="hashtagsList">
            </lable>
            <input type="text" value="" name="hashtaginput" data-role="tagsinput" id="hashtaginput" class="form-control" >
            <span id="hashtaginputError" class="text-danger"></span>

            <div class="form-group">
                <input type="submit" value="Add product" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/Hashtag.js"></script>
}
