@model Recycle.Models.Product

@{
    ViewData["Title"] = "AddProduct";
}

<h1>Create</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form id="addProduct" asp-action="AddProduct" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="ItemName" class="control-label"></label>
                <input asp-for="ItemName" class="form-control" />
                <span asp-validation-for="ItemName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemDesc" class="control-label"></label>
                <input asp-for="ItemDesc" class="form-control" />
                <span asp-validation-for="ItemDesc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Size" class="control-label"></label>
                <input asp-for="Size" class="form-control" />
                <span asp-validation-for="Size" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Color" class="control-label"></label>
                <input asp-for="Color" class="form-control" />
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PictursFiles" class="control-label"></label>
                <input asp-for="PictursFiles" class="form-control" accept="image/*"/>
                <span asp-validation-for="PictursFiles" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Video" class="control-label"></label>
                <input asp-for="VideoFile" class="form-control" accept="video/mp4"/>
                <span asp-validation-for="Video" class="text-danger"></span>
            </div>

            <lable for="hashtaginput"class="form-group"  id="hashtagsList">
            </lable>
            <input type="text" value="" name="hashtaginput" data-role="tagsinput" id="hashtaginput" class="form-control" >
            <span id="hashtaginputError" class="text-danger"></span>


            <div class="form-group">
                <input type="submit" value="Add product" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>

        $("#hashtaginput").keypress(function (e) {
            //13 is enter
            // 9 for tab
            let hashtag = $("#hashtaginput").val()

            if (e.which == 13 && hashtag.length > 0) {
                event.preventDefault();
                if (hashtag.indexOf(',') != -1) {
                    $('#hashtaginputError').text("',' is not allow in hashtag!")
                    return
                }

                let is_already_added = false
                $("#hashtagsList").children().each(function (i){
                    if ($(this).text() == hashtag) 
                        is_already_added = true
                })
                
                if (is_already_added){
                    $('#hashtaginputError').text(hashtag + " already added")
                    return
                }
                    
                $("#hashtagsList").append('<span class="badge bg-primary" onclick="$(this).remove()">' + hashtag  + '</span>')
                $("#hashtaginput").val("")
                $('#hashtaginputError').text("")
            }
        })

        $('#addProduct').submit(() => {
            let hashtagList = []
            $('#hashtagsList').children().each(function (i) {
                hashtagList.push($(this).text())
            });

            $('#hashtaginput').val(hashtagList);
        })

    </script>
}
